@{
    ViewData["Title"] = "Home Page";
}

<section id="hero">
    <div class="hero-top">

        <div class="hero-left">

            <div class="hero-cards-container">
                <span class="background-on-accent">.NET</span>
                <span class="primary-on-timber rotate-22-pos">C#</span>
                <span class="primary-on-timber rotate-10-neg">AI / LLM</span>
                <span class="background-on-accent rotate-10-neg">DevOps</span>
                <span class="background-on-accent">King</span>
                <span class="primary-on-timber rotate-10-pos">CSS</span>
                <span class="primary-on-timber rotate-10-pos">MVC</span>
                <span class="background-on-accent">HTML</span>
                <span class="background-on-accent rotate-10-neg">B2C</span>
                <span class="primary-on-timber rotate-10-neg">Coaching</span>
                <span class="primary-on-timber rotate-10-pos">B2B</span>
                <span class="background-on-accent rotate-10-pos">SQL</span>
                <span class="primary-on-timber rotate-10-neg">Ledarskap</span>
            </div>

        </div>

        <div class="hero-right">

            <div class="my-name-container">
                <h1 class="my-name">Niklas Högström</h1>
            </div>

            <div class="hero-subheader">
                <p>Lyhörd, ambitiös .NET-utvecklare in the making. Strävar efter att nå samma höga höjd som inom försäljning. Låt oss börja.</p>
            </div>

        </div>
    </div>
</section>

<section id="about">
    <article>
        <div class="vertical-split">

            <div id="profile-picture-container" class="clip-path" alt="profile picture"></div>

            <div id="about-me-right">
                <h2>Om mig</h2>
                <div class="linebreak"></div>
                <p>Sambo, far, husse och blivande systemutvecklare.</p>
                <p>Vilken fantastisk överaskning att jag skulle hitta glädje i ett karriärsbyte vid 38 års ålder. Har också en stark tro att kunna fortsätta dra nytta av mina 18 år inom försäljning, ledarskap och coachande. Att jag dessutom skulle hitta en ny hobby exakt samtidigt (ja, jag tycker det är så pass kul!) känns smått fantastiskt.</p>
                <p name="download-cv" class="download">
                    <i class="fa-solid fa-file-arrow-down"></i>
                    <a href="resources/files/niklas-cv-dotnet.pdf" download="Niklas-Hogstrom-CV.pdf">Ladda ner mitt cv här</a>

                    <label for="download-cv">
                    </label>
                </p>


            </div>
    </article>


    <article id="testamon-article">

        <div class="no-split">
            <div class="centered-content">

                <div id="testamonials">
                    <ul>
                        <li class="quote">"Pappa är sämre på ninja-kull än mig!"</li>
                        <li class="cite">- Theodor, 6 år</li>
                    </ul>

                    <ul>
                        <li class="quote">"Även om Niklas var en av de mest erfarna hos oss så var det ändå han som ställde flest frågor och ville bolla idéer. Han vill alltid komma ett steg längre."</li>
                        <li class="cite">- Håkan, tidigare chef</li>
                    </ul>

                    <ul>
                        <li class="quote">"Med Niklas har man alltid kul på jobbet, utan att tappa fokus från arbetsuppgiften."</li>
                        <li class="cite">- Tidigare kollega</li>
                    </ul>

                </div>
            </div>

    </article>


</section>

<div id="skills-top">

    <div class="skills-divider">

        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="skills-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="skills-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="skills-fill"></path>
        </svg>

    </div>

</div>
<section id="skills">
    <article>

        <div class="no-split">

            <div class="centered-content">
                <h2>Kompetens</h2>
                <div class="linebreak"></div>

                <div class="section-body">
                    <p>
                        Jag utbildar mig till .NET utvecklare med AI-kompetens på Edugrade i Sundsvall. Examen våren 2026. Kompetens inom exempelvis:
                    </p>
                </div>

                <div class="skills-container">
                    <ul>
                        <li>C#</li>
                        <li>SQL</li>
                        <li>EF Core</li>
                        <li>AI Chatbot Integration</li>
                        <li>MVC</li>
                        <li>Razorpages</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Git</li>
                        <li>Github</li>
                        <li>Agila metoder</li>
                        <li>DevOps</li>
                        <li>MS Azure</li>
                    </ul>
                </div>

                <div class="section-body">
                    <p>Innan detta har jag jobbat med försäljning, ledarskap och coaching i 18 år. Titta gärna på mitt cv för mer information!</p>

                    <div>
                        <a href="resources/files/niklas-cv-dotnet.pdf" download="Niklas-Hogstrom-CV.pdf">
                            <button aria-label="button to download cv" class="submit-button skills-cv-btn" type="button">Ladda ner CV</button>
                        </a>
                        <link type="image/png" sizes="96x96" rel="icon" href=".../icons8-problem solving-external-wanicon-two-tone-wanicon-96.png">
                    </div>
                </div>


            </div>
        </div>




    </article>
</section>

<div id="project-top">

    <div class="project-divider">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="project-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="project-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="project-fill"></path>
        </svg>
    </div>
</div>

<section id="project">

    <article>
        <div class="no-split">

            <div class="centered-content">

                <div id="project-right">
                    <h2>Projekt</h2>
                    <div class="linebreak"></div>
                    <div class="section-body">

                        <p>
                            Här frontar jag några utav mina projekt. Klicka gärna för att läsa mer på projektets github. Observera att endast Bokningssystemet är öppet just nu.
                        </p>

                    </div>

                </div>


                <div class="project-card-container">

                    <div id="hotelApp" class="project-card">
                        <div class="project-icon-container">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <p class="project-card-header">
                            Bokningssystem
                        </p>
                        <p class="project-card-body">
                            Konsollapp för att administrera gäster, rum och bokningar på ett mindre hotell.
                        </p>
                    </div>

                    <div class="project-card">
                        <div class="project-icon-container">
                            <i class="fa-solid fa-wallet"></i>
                        </div>
                        <p class="project-card-header">
                            Budgetkoll
                        </p>
                        <p class="project-card-body">
                            Håll koll på dina inkomster, utgifter och sparande. Få en överblick över din ekonomi.
                        </p>
                    </div>

                    <div id="bankApp" class="project-card">
                        <div class="project-icon-container">
                            <i class="fa-solid fa-building-columns"></i>
                        </div>
                        <p class="project-card-header">
                            Bankapp
                        </p>
                        <p class="project-card-body">
                            En bankapp för att hantera konton och transaktioner.
                        </p>
                    </div>

                    <div class="project-card">
                        <div class="project-icon-container">
                            <i class="fa-solid fa-frog"></i>
                        </div>
                        <p class="project-card-header">
                            Robotgroda
                        </p>
                        <p class="project-card-body">
                            Techstack från universe. Syntax från hell. Håller trädgården bugfri helt utan gnäll.
                        </p>
                    </div>

                </div>

            </div>


    </article>
</section>

<div id="contact-top">

    <div class="contact-divider">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="contact-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="contact-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="contact-fill"></path>
        </svg>
    </div>

</div>
<section id="contact">
    <article>

        <div class="no-split">

            <div class="centered-content">
                <h2>Kontakt</h2>
                <div class="linebreak"></div>
                <div class="section-body">
                    <p>Oavsett om du har en fråga, ett samarbetsförslag eller bara vill diskutera en idé över en kopp kaffe, är du välkommen att höra av dig! Skicka ett mail endera via formuläret eller med epost-adressen! Du kan ringa också, true story.</p>
                </div>
                <ul class="contact-options">
                    <li><a href="mailto:hogstromniklas@gmail.com">hogstromniklas@gmail.com</a></li>
                    <li><a href="tel:+46705188735">+4670 518 87 35</a></li>
                </ul>

                <div class="formular-container">
                    <form method="POST" id="form">
                        <input type="hidden" name="access_key" value="fac387ac-f140-4aef-b678-6e99a37940f0" />
                        <input type="hidden" name="subject" value="Nytt meddelande via Web3Forms" />
                        <input type="checkbox" name="botcheck" id="" style="display: none;">

                        <div class="formular-top">

                            <div class="formular-top-left">
                                <div>
                                    <span class="formular-label">
                                        <label for="fullname">Namn</label>
                                    </span>
                                    <span>
                                        <input class="text-input" type="text" id="fullname" name="fullname" placeholder="Ditt namn *" required>
                                    </span>
                                </div>
                            </div>

                            <div class="formular-top-right">
                                <div>
                                    <span class="formular-label">
                                        <label for="email">Epost</label>
                                    </span>
                                    <span>
                                        <input class="text-input" type="email" id="email" name="email" placeholder="Din e-post *" required>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="formular-bot">

                            <div>
                                <textarea class="textarea" name="message" placeholder="Ditt meddelande här.. *" required></textarea>
                            </div>

                            <button aria-label="button to send message via webformular" class="submit-button" type="submit">Skicka</button>
                            <span id="result"></span>
                            <div class="obligatory">* Fältet är obligatoriskt</div>

                        </div>


                    </form>
                </div>

            </div>

        </div>


    </article>
</section>